body{
    /*background-color: #60a9ff;*/
    background-image:url("../Background Images/signupbg.jpg");
    background-repeat:no-repeat; 
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel{
    background-color: black;
   /* border-radius: 10px;*/
    padding: 25px 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0.95;
    color: white;
}

.navbar{
    background-color: black;
}

.carousel{
    margin-top: 0px;
  }
  .carousel-inner{
    height: 100px;
  }
  .carousel-caption{
    color: white;
    top: 10%;
  }

  .display-5{
      font-size: large;
  }

  .padding-0{
    padding-right:0;
    padding-left:0;
}

.padding-slider{
    padding-top: 80px;
    padding-bottom: 80px;
}